.loader{
    position: relative;

}

.spinner{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid red;
    border-top: 1px solid rgb(242, 237, 237);
    margin: 250px auto;
    border-radius: 50%;
    animation: spin .8s infinite;
    display: block;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}